<div class="container">

  <div class="titulo-pagina">
    <h1>Sprints {{equipe.nome}}</h1>
  </div>

  <div class="acoes">
    <button mat-flat-button color="primary" *ngIf="isScrumMaster">Criar Sprint</button>
    <button mat-flat-button color="warn" *ngIf="isScrumMaster">Encerrar Sprint</button>
    <button mat-flat-button routerLink="/equipes">Voltar</button>
  </div>

  <div class="dados-sprints">
    <div class="sprint" *ngFor="let sprint of sprints">
        <mat-card>
          <mat-card-title>Sprint {{sprint.numero}}</mat-card-title>
          <a>Pontuação Planejada: {{sprint.pontPlanejada}}</a><br />
          <a>Pontuação Concluída: {{sprint.pontConcluidas}}</a><br />
          <a>Velocidade do time: {{sprint.pontConcluidas / sprint.qtdDias}}</a>
        </mat-card>
    </div>
  </div>

</div>