<div class="container">
  <div class="conteudo">
    
    <div class="boas-vindas">
      <h1>Olá, {{nome}}!</h1>
    </div>
    
    <div class="acoes">
      <button mat-flat-button color="primary" (click)="criarEquipe()" *ngIf="isScrumMaster">Criar equipe</button>&nbsp;
      <button mat-flat-button (click)="editarPerfil()">Editar perfil</button>&nbsp;
      <button mat-flat-button color="warn" (click)="sair()">Sair</button>
    </div>
    
    <br/>

    <div *ngIf="!isScrumMaster">
      <div class="nome-equipe">
        <h2>{{equipe.nome}}</h2>
      </div>
      <div class="botoes-pessoa">
        <button mat-icon-button matTooltip="Ver sprints" class="botoes-equipe" (click)="verSprints(equipe.id)">
          <mat-icon>table_chart</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Adicionar pessoa" class="botoes-equipe" (click)="addPessoa(equipe.id)">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Concluir tarefa" class="botoes-equipe" (click)="concluirTarefa()">
          <mat-icon>check_circle_outline</mat-icon>
        </button>
      </div>
      <div class="dados-pessoas">
        <div class="pessoa" *ngFor="let pessoa of pessoas">
            <mat-card>
              <mat-card-title>{{pessoa.nome}}</mat-card-title>
              <a>Atividades Concluídas: {{pessoa.ativ_Concluidas}}</a><br />
              <a>Pontuação Entregue: {{pessoa.pont_Entregue}}</a>
            </mat-card>
        </div>
      </div>

      <!-- <div class="equipe" *ngFor="let sprint of sprints">
        <div>

        </div>
      </div> -->
    </div>

    <div *ngIf="isScrumMaster"> 
      <table mat-table [dataSource]="equipes">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <td mat-cell *matCellDef="let equipe"> {{equipe.nome}} </td>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <td mat-cell *matCellDef="let equipe">
            <button mat-icon-button matTooltip="Ver sprints" class="botoes-scrum-master" (click)="verSprints(equipe.id)">
              <mat-icon>table_chart</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Adicionar pessoa" class="botoes-scrum-master" (click)="addPessoa(equipe.id)">
              <mat-icon>person_add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Editar equipe" class="botoes-scrum-master" (click)="editEquipe(equipe.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Excluir equipe" class="botoes-scrum-master" (click)="removerEquipe(equipe.id, equipe.pessoas)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>