<div class="container">
  <div class="conteudo">
    
    <div class="boas-vindas">
      <h1>Olá, {{nome}}!</h1>
    </div>
    
    <div class="acoes">
      <button mat-flat-button color="primary" (click)="criarEquipe()" *ngIf="isScrumMaster">Criar equipe</button>
      <button mat-flat-button (click)="editarPerfil()">Editar perfil</button>
      <button mat-flat-button color="warn" (click)="sair()">Sair</button>
    </div>
    
    <div *ngIf="!isScrumMaster">
      <div class="nome-equipe">
        <h2>{{equipe.nome}}</h2>
      </div>
      <div class="botoes-pessoa">
        <button mat-icon-button matTooltip="Ver sprints" class="botoes-equipe" (click)="verSprints(equipe.id)">
          <mat-icon>table_chart</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Adicionar pessoa" class="botoes-equipe" (click)="addPessoa(equipe.id)">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <div class="dados-pessoas">
        <div class="pessoa" *ngFor="let pessoa of pessoas">
            <mat-card>
              <mat-card-title>{{pessoa.nome}}</mat-card-title>
              <a>Atividades Concluídas: {{pessoa.ativ_Concluidas}}</a><br />
              <a>Pontuação Entregue: {{pessoa.pont_Entregue}}</a>
            </mat-card>
        </div>
      </div>

      <!-- <div class="equipe" *ngFor="let sprint of sprints">
        <div>

        </div>
      </div> -->
    </div>

    <div *ngIf="isScrumMaster"> 
      <mat-list class="lista-equipes">
        <div class="equipes" *ngFor="let equipe of equipes">
            <mat-list-item>
              {{equipe.nome}}
              <button mat-icon-button matTooltip="Ver sprints" class="botoes-scrum-master" (click)="verSprints(equipe.id)">
                <mat-icon>table_chart</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Adicionar pessoa" class="botoes-scrum-master" (click)="addPessoa(equipe.id)">
                <mat-icon>person_add</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Editar equipe" class="botoes-scrum-master" (click)="editEquipe(equipe.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Excluir equipe" class="botoes-scrum-master" (click)="removerEquipe(equipe.id, equipe.pessoas)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
        </div>
      </mat-list>
    </div>

  </div>
</div>